.card{
    width: 100%;
    display: flex;
    justify-content: center;
}
.git{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px 0;
    box-sizing: border-box;
    padding: 16px 12px;
    border: 2px solid #dbdbdb;
    border-radius: 12px;
    width: 340px;
    color: #888585;
}

input{
    border-radius: 12px;
    padding: 8px;
    margin: 8px;
    box-sizing: border-box;

}
button{
    border: 1px solid #dbdbdb;
    padding: 8px;
    margin: 8px;
    border-radius: 12px;
    box-sizing: border-box;
}
.category_wrap{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.categorie{
    width: 50px;
    height: 50px;
    border: 1.4px solid #dbdbdb;
    border-radius: 50%;
    background: white;
    margin: 20px 0;
}
.button_wrap{
    display: flex;
    width: 360px;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.image_wrap{
    margin-top: 40px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 1.4px solid #dbdbdb;
    object-fit: cover; 
    object-position: center; 
}
.name{
    font-size: 1.8rem;
    padding: 20px 0 0 0;
    margin:0;
}
.job_title{
    font-size: 1.1rem;
    padding: 8px 0 20px 0;
    margin: 0;
}
.active{
    fill: black;
    color: black;
}