.main{  
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
 }

.project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    padding: 20px;
    margin: 40px 10px 20px 10px;
    border: 2px solid #dbdbdb;
    border-radius: 12px;
  }
  .project:hover{
    box-shadow: 0 0 8px 1px rgba(9, 170, 162, 0.7); 
  }
  .project:hover svg{
    stroke: rgba(9, 170, 162);
  }

  .project p{
    line-height: 1.8rem;
    font-weight: 200;
}
  .project_img{
      border: 1px solid black;
      height: 520px;
      width: 300px;
  }
  .footer{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .icon-wrap{
    display: flex;
    width: 70px;
    justify-content: space-between;
  }