<section class="main">
<div class="project">
    <h3>Schulweg</h3>
    <p>Das Webdeveloper-Bootcamp bei neuefische beinhaltet ein digitales Gesellenstück, dies ist eine App oder Webanwendung die man in den letzten 4 Wochen des Bootcamps entwickelt. Dies geschieht nach Scrum Methode mit daily standups und wöchentlichen sprints.</p>
    <p>Mein Digitales Gesellenstück ist eine React App. Mit Ihr können sich Eltern organisieren um Ihre Grundschulkinder in begleiteten Gruppen zur Schule gehen zu lassen. </p>
    <img class="project_img" src="https://media.giphy.com/media/YqPz2a4mGVDfV6Eo1e/giphy.gif">
    <p>Dazu loggen sich die Eltern in die App ein. Sie erstellen ein Profil und tragen sich und ihre Kinder dort ein. Danach wählen Sie Bundesland und eine Schule aus. Dort können Sie sich in vorhandene Treffpunkte eintragen oder Eigene erstellen. Vom Treffpunkt aus erstellen Sie eine Laufliste mit Namen und Uhrzeit wann die Gruppe losläuft. Andere Eltern können nun sich und ihre Kinder oder nur ihre Kinder für die Laufliste eintragen.</p>
    <p>Das gemeinsame zur Schule gehen in begleiteten Gruppen entlastet Eltern und Verkehr gleichermaßen. Sie wirkt der Elterntaxi-Problematik entgegen, ohne dass die Eltern sich Sorgen machen müssen, ob das Kind sicher zur Schule gelangt. </p>
    <h3>Verwendete Technologien</h3>
    <p>React, JSX, JavaScript, React-Hooks, Styled Components, Google Maps API, Google Places API, Local Storage, React-Router, Adobe Comp, Github, Storybook, Jest, Cypress </p>
</div>

<div class="project">
    <h3>Home Schooling</h3>
    <p>Home Schooling ist ein Projekt, welches Lehrer und Eltern dabei unterstützen soll, die Lernmaterialien für das home schooling digital zu unterstützen und sich zu Hause noch besser zu strukturiere. </p>
    <img class="project_img" src="../../assets/img/homeschooling.png">
    <h3>Verwendete Technologien</h3>
    <p>React, JSX, JavaScript, React-Hooks, Styled Components, React-Router, Adobe Comp, Github, Firebase </p>
</div>

<div class="project">
    <h3>Nacira</h3>
    <p>Relaunch der personal Website</p>
    <img class="project_img" src="../../assets/img/nacira.png">
    <h3>Verwendete Technologien</h3>
    <p>Angular, TypeScript, CSS, Routing, GitHub, Adobe Comp</p>
</div>


</section>