.main{  
    width: 100%;
    display: flex;
    justify-content: center;
 }

.project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    padding: 20px;
    margin: 40px 0 20px 0;
    border: 2px solid #dbdbdb;
    border-radius: 12px;
  }
  