.main{  
   display: flex;
   flex-direction: column;
 align-items: center;
    width: 100%;
    display: flex;
    justify-content: center;
 }
 .card{
   width: 300px;
   padding: 20px;
   margin: 40px 0 20px 0;
   border: 2px solid #dbdbdb;
   border-radius: 12px;
 }

 button{
    border: 2px solid lightgrey;
    padding: 8px;
    margin: 8px;
    border-radius: 12px;
}
button:hover{
   box-shadow: 0 0 8px 1px rgba(9, 170, 162, 0.7);
}
 
h3{
   font-size: 1.1rem;
}
a{
   text-decoration: none;
   color: #098070;
   line-height: 24px;
   padding: 0 6px;  
}
.active{
   color: #8112ad; 
}
.social{
   display: flex;
  align-items: center;
}
.social a :hover{
   
   fill: #098070;
}