<section class="main">
    <div class='card'>
        <h1>{{contactData.name}}</h1>
        <h3>{{contactData.job}}</h3>
        <button *ngIf="isCollapsed" (click)="toggleCollapse()" >Kontaktinformationen</button> 
        <div *ngIf="!isCollapsed">
            <p>Phone: {{contactData.phone}}</p>
            <p>E-Mail:  <a href="mailto:{{contactData.web}}">{{contactData.email}}</a></p>
            <p>Website: <a href="{{contactData.web}}">{{contactData.web}}</a></p>
        </div>
        <button *ngIf="!isCollapsed" (click)="toggleCollapse()" >schließen</button>
    </div>
</section>
  
