.skill_wrap{
display: flex;
flex-direction: column;
align-items: center;
width: 300px;
padding: 20px;
margin: 10px 0;
border: 2px solid #dbdbdb;
border-radius: 12px;


}

.skill_style{
    display: flex;
    margin: 6px;
    font-size: 0.95rem;
    line-height: 2rem;
    color: #888585;
    flex-wrap: wrap;
}
.no-wrap{
    display: flex;
    align-items: center;
    margin: 4px;
}
.star-margin{
    margin-right: 3px;
}