.footer{
    display: flex;
    color: #383535;
    font-size: 0.8rem;
    justify-content: center;
    align-items: flex-end;
    width: auto;
    height: 100%;
    padding: 20px;
    margin: 0;
    border-top-right-radius: 225px ;
    z-index: 300;
    box-shadow: 0 0 10px 2px rgba(185, 175, 175, 0.5);
}