.main{
   padding: 40px 0;
    width: auto;
    height: auto;
    margin: 0 20px;
}
.card{
    padding: 6px;
    border: 1px solid lightgrey;
    border-radius: 12px;
    box-shadow: 0 0 10px 2px rgba(142, 93, 187, 0.5);
}
button{
    border: 1px solid lightgrey;
    padding: 8px;
    border-radius: 12px;
}